/* Hero.css */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

/* Hero.css */
.typing-text {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    width: 14ch;
    animation: typing 2.8s steps(30, end) infinite, blink-caret 0.75s step-end infinite;
}